<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="style_main.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Error 404 | Musings of a Moderate Code and Copyright Maverick</title>
</head>
<body>
    {{{ header }}}
	<div id="content">
		<h1>Error 404</h1>
	    <p>That's not here. Go <a href="/">home</a>.</p>
    </div>
{{{ footer }}}
</body>
</html>
