<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="style_main.css" rel="stylesheet" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ title }} | Musings of a Moderate Code and Copyright Maverick</title>
</head>
<body>
    {{{ header }}}
	<div id="content">
		<h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <h3>by {{ author }}</h3>
        <h3>{{ date }}</h3>
        <div id="post-container">
            {{{ content }}}
        </div>
    </div>
{{{ footer }}}
</body>
</html>
